@font-face {
  font-family: "Monument";
  src: url("https://raycrist.com/monument/MonumentExtended-Regular.otf")
}
@font-face {
  font-family: "MonumentBlack";
  src: url("https://raycrist.com/monument/MonumentExtended-Black.otf")
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap/scss/bootstrap";


$darkMainColor: #0f0f0f;
$lightMainColor: #fafafa;
$boxShadow: #00000052 1px 5px 10px 0px;
$layout-breakpoint-small: 960px;

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Montserrat";
  background: $lightMainColor;
  color: $darkMainColor;
  font-size: 20px;

  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}


#main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100%;

  > div {
    padding: 5px 15px;
  }
}

h1, h2, h3, h4 {
  font-family: "MonumentBlack";
}

h1 {
  font-size: 1.3rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.1rem;
  }
}

h2 {
  font-size: 1.15rem;
}

ul {
  padding: 0px 20px;
}

.active {
  color: blue;
}

.divider {
  height: 0.05rem;
  width: 100%;
}

$bigArrow: 28px;
$smallArrow: 12px;

.titleSection {
  width: 250px;
  background: #0f0f0f;
  color: #f5f5f5;
  z-index: 100;

  .divider {
    background: #f5f5f5;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: grid;
    grid-template-columns: 20px auto;
    justify-content: start;
    align-items: center;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 5px auto;
    }
  }

  li:before {
    display: block;
    content: ' ';
    background-image: url('extra/arrow.svg');
    background-size: $bigArrow $bigArrow;
    position: relative;
    height: $bigArrow;
    width: $bigArrow;
    left: -15px;

    @media only screen and (max-width: 600px) {
      background-size: $smallArrow $smallArrow;
      height: $smallArrow;
      width: $smallArrow;
    }
  }

  a {
    color: white;
    font-size: 1.2rem;
    margin-bottom: .25rem;

    @media only screen and (max-width: 600px) {
      font-size: 1.0rem;
    }

    &.active {
      color: grey;
    }

    &:hover {
      color: orange;
    }
  }
}

.mainSection {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;

  > div {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  img {
    width: 100%;
  }
}

svg {
  text-align: center;
}
  
text {
  font-family: "Montserrat";
  font-size: 14px;
  fill: $darkMainColor;
}

text.title {
  font-size: 22px;
  font-family: "MonumentBlack";
  fill: $darkMainColor;
}

.subtitle text {
  font-size: 12px;
  text-decoration: underline;
  fill: gray;
}

path.line {
  fill: none;
  stroke-width: 3px;
}
path.line:nth-of-type(2) {
  stroke: rgb(90, 210, 190);
}
path.line:nth-of-type(4) {
  stroke: red;
}
path.line:nth-of-type(6) {
  stroke: blue;
}
path.line:nth-of-type(8) {
  stroke: black;
}
path.line:nth-of-type(10) {
  stroke: rgb(255, 112, 236);
}
path.line:nth-of-type(12) {
  stroke: rgb(255, 207, 34);
}

path.area {
  fill: rgb(90, 210, 190);
  opacity: 0.1;
}
path.area:nth-of-type(3) {
  fill: red;
}
path.area:nth-of-type(5) {
  fill: blue;
}

path.area:nth-of-type(7) {
  fill: rgb(0, 0, 0);
}

path.area:nth-of-type(9) {
  fill: rgb(255, 112, 236);
}

path.area:nth-of-type(11) {
  fill: rgb(255, 207, 34);
}

.axis path,
.axis line {
  fill: none;
  stroke: slategray;
  shape-rendering: crispEdges;
}

line.x,
line.y,
circle.y {
  stroke: $darkMainColor;
}

#mydiv {
  width: 100px;
  height: 100px;
}

table, th, td {
  border: 1px solid;
}

.country {
  fill: none;
  stroke: black;
}

.tooltip {
  position: fixed;
  box-shadow: #00000052 1px 5px 10px 0px;
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
}

.svg {
  overflow: hidden;
}

.bubble {
  opacity: 0.5;
  fill:rgb(98, 98, 255);

  &:hover {
    opacity: 0.6;
    fill:rgb(47, 188, 64);
    stroke: black;
    stroke-width: 1.0;
  }
}

.sound-scale {
  background-color: rgb(96, 104, 180);
  padding: 5px;
  border-radius: 5px;
}

#network {


  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

  }

  input {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

#networkParams {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: grey;
  border-radius: 5px;
  max-width: 250px;
}

.blockQt{
  width: 80%;
  text-align: left;
  font-size: 2rem;
}

.blockQtCap{
  text-align: right;
}

.next {
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: right;
}

button {
  border-radius: 5px;
  background-color: lightgray;
  border: 0px solid black;

}

.mainSection .halfWidth {
  width: 50%;
}